{% extends 'base.html' %}

{% block title %}
    Пищевые добавки
{% endblock %}

{% block body %}

    <div style="display: flex">
    <aside class="page__sidebar">
        <ul class="menu left-menu">
            {% for category in categories %}
                <li class="menu-item">
                    <a href="/additives/{{ category }}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="page__content">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">E-</span>
            </div>
            <input id="inputText" type="text" class="form-control" placeholder="Введите код или название добавки"
                   aria-label="name" aria-describedby="basic-addon1">
        </div>
        <div id="output">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            {% if category %}
                $('#inputText').on('input', function () {
                    var text = $(this).val();
                    $.ajax({
                        type: 'POST',
                        url: '/additives/process',
                        data: {text: text},
                        success: function (response) {
                            updateResult(response);
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                });
            {% else %}
                $('#inputText').on('input', function () {
                    var text = $(this).val();
                    $.ajax({
                        type: 'POST',
                        url: '/additives/{{ category }}/process',
                        data: {text: text},
                        success: function (response) {
                            updateResult(response);
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                });
            {% endif %}
        });

        function updateResult(result) {
            var resultContainer = $("#output");
            resultContainer.empty();
            $.each(result, function (index, item) {

                resultContainer.append(
                    `
        <a class="card"  href="https://dobavkam.net/additives/${item.code}">
            <div class="top">
                <div class="number">
                    <p>${item.code}</p><span></span>
                </div>
                <div class="title">
                    <p class="overflow-ellipsis">${item.name}</p>
                </div>
            </div>
            <div class="bottom">
                <div class="categories">
                        <p>${item.categories.join('</p><p>')}</p>
                </div>

            </div>
        </a>
                    `
                );
            });
        }


        function generateOriginIconsHTML(origins) {
            var originHTML = '';
            origins.forEach(function (origin) {
                originHTML += `<img src="../static/images/${origin}.png" alt="${origin}"`;
                console.log(origin);
            });
            return originHTML;
        }

    </script>


{% endblock %}
