{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
    <div class="page__content">
        <p>«Добавкам.нет» - информативный ресурс о пищевых добавках и продуктах, их содержащих. Мы рассказываем о
            вредных и безопасных добавках, помогаем с первого взгляда находить в составе продуктов опасные
            компоненты.</p>

        <p>Будьте уверены в составе продуктов, которые вы выбираете для себя и своих близких! И не забудьте добавить
            сайт в закладки!</p>

        <h1>Пищевые добавки</h1>

        <div class="flex-wrapper">
            <div class="field-image">
                <img src={{ url_for('static', filename='images/addidives_0.png') }}>
            </div>
            <div class="field-text">
                <p>Пользуйтесь информативной <a href="/additives">таблицей пищевых добавок</a>, которая поможет быстро
                    узнать:</p>

                <ul>
                    <li>Происхождение добавки - иконка каждой добавки маркируется значком происхождения.</li>
                    <li>Опасность добавки – каждая иконка снабжена шкалой опасности.</li>
                </ul>

                <p>Подробнее о нашей системе уровней опасности и маркировке добавок читайте в <a href="">статье</a>.</p>

                <p>Для вашего удобства вверху таблицы добавок и в начале страницы конкретной добавки есть специальные
                    блоки-пояснения, нажав на которые, можно перейти к списку всех добавок в данной группе.</p>

                <p>В подменю раздела представлены перечни добавок по категориям: <a
                        href="files/krasiteli.html">красители</a>, <a href="files/konservanty.html">консерванты</a> и
                    т.д.</p>
            </div>
        </div>
    </div>
{% endblock %}
