{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
    <div class="page__content">
        <div class="inner">
            <h1 class="inner__title">E-Search</h1>
            <p class="inner__descr">
                «E-Search» - информативный ресурс о пищевых добавках и продуктах, их содержащих.<br><span>Мы рассказываем о
                вредных и безопасных добавках, помогаем с первого взгляда находить в составе продуктов опасные
                компоненты.
                Будьте уверены в составе продуктов, которые вы выбираете<br>для себя и своих близких! И не забудьте
                добавить сайт в закладки!</span>
            </p>

        </div>
        <div class="nutritional">
            <div class="nutritional__title section-title">Пищевые добавки</div>
            <div class="nutritional__block">
                <div class="nutritional__block-left">

                </div>
                <div class="nutritional__descr">
                    Пользуйтесь информативной таблицей <a class="green-href" href="#">пищевых добавок</a>, которая
                    поможет быстро узнать:
                    <ul>
                        <li>Происхождение добавки - иконка каждой добавки маркируется значком происхождения.</li>
                        <li>Опасность добавки – каждая иконка снабжена шкалой опасности.</li>
                    </ul>
                    Для вашего максимального комфорта мы разместили удобный поиск и фильтр на левой стороне страницы. С
                    их помощью вы легко найдете нужные добавки.
                </div>
            </div>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for item in additives %}
                        {% from 'additive_card.html' import card as card %}
                        {{ card(item) }}
                    {% endfor %}
                </div>
                <div class="swiper-navigation">
                    <div class="swiper-button-prev">
                        <img src="../static/images/arrow_left.svg" alt="">
                    </div>
                    <div class="swiper-button-next">
                        <img src="../static/images/arrow_right.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="nutritional__btn">
                <a href="#" class="btn btn-reset">Перейти к таблице добавок</a>
            </div>
        </div>
        <div class="information">
            <div class="information__tilte section-title">Информация</div>
            <div class="information__block">
                <div class="information__block-left">
                    <img src="../static/images/info-bg.png" alt="">
                </div>
                <div class="information__block-right">
                    <p>На странице "Информация" вы можете оставить сообщение, чтобы помочь нам совершенствоваться. Мы
                        ценим ваше время и интерес к пищевым добавкам, и мы надеемся продолжать быть вашим надежным
                        источником информации в этой области.</p>
                </div>
            </div>
            <div class="information__btn">
                <a href="#" class="btn btn-reset">Перейти к информации</a>
            </div>
        </div>

    </div>
{% endblock %}
